<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        % include "../public/css/app.css" %
    </style>
    <title>Welcome to Home!</title>
</head>
<body>
    <div class="container">
        <h1>Bienvenido a la Página de Inicio</h1>
        <p>Has iniciado sesión correctamente.</p>
        <p><a href="/logout">Cerrar sesión</a></p>
    </div>
</body>
</html>
